// Specific CSS for your home-page

.home-container {
  padding-bottom: 0;
  margin-bottom: 0 !important;
}

.home-container.panel {
  margin-top: 0 !important;
}

.home-btn-container {
  margin: 0 auto;
  background: white;
  padding: 9px 15px;
  position: sticky;
  top: 40vh;
  z-index: 10;

  div {
    border-radius: 8px;
    margin-right: 2px;
  }
}

.btn-home {
  padding: 10px;
  text-align: center;
}

.btn-home-gray {
  border: 1px solid gray !important;
  color: gray;
}

#triangle {
  width: 0;
  height: 0;
  cursor: pointer;
  margin-right: .5rem;
  border-radius: 2px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 30px solid #eee;
}

.blue-triangle {
  border-top: 30px solid $blue !important;
}

// Tablet
@media only screen and (min-width: 768px) {
  .home-btn-container {
    .footer-btn:first-of-type {
      margin-right: 8px;
    }

    .footer-btn:last-child {
      margin-left: 8px;
    }
  }

  .restaurants-container {
    display: grid !important;
    grid-template-columns: auto auto auto;
    grid-gap: 16px;
    justify-content: center;

    .card-product {
      flex-direction: column;
      padding: 8px;
      border-radius: 8px;
      height: 215px;
      width: 225px;
      padding: 0;
    }

    .card-product img {
      width: 100%;
      height: 70%;
    }
  }

  .card-product-infos {
    width: 100%;
    padding: 4px !important;

    h2 {
      font-size: .9rem;
    }

    p {
      font-size: .5rem;
    }
  }
}

// Laptop
@media only screen and (min-width: 1024px) {
  .home-container {
    .card-product {
      height: 280px;
      width: 310px;
    }
  }

  .card-product-infos {
    width: 100%;
    display: block !important;
    padding-top: 4px;

    h2 {
      font-size: 1.3rem;
    }

    p {
      font-size: .8rem;
    }
  }
}
