<% provide(:title, "Home") %>
<% provide :head_tags do %>
    <%= javascript_pack_tag 'map' %>
<% end %>

<div id="map">
</div>

<div class="container my-3">
  <h1>Home - Your Restaurants List</h1>
  <% current_user.restaurants.each do |resto| %>
    <%= render "restaurants/restaurant_card", resto: resto %>
  <% end %>
  <%= link_to "Search Restaurants", restaurants_path %>
</div>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV["GOOGLE_API_KEY"]}" %>
