<h1>Restaurants#search</h1>
<p>Find me in app/views/restaurants/search.html.erb</p>

<input id="search_restaurant" type="text", name="restaurant" style="width: 500px">


<div id="search-results">
</div>
