<div class="container full-page-container">
  <h1 class="mt-2 mb-4 text-center">ADD A RESTAURANT</h1>
  <input class="form-control" placeholder="Restaurant name" id="search_restaurant" type="text", name="restaurant" style="width: 100%">
  <button class="btn my-2" id="search-restaurant-nearby"><i class="mr-2 fas fa-search-location"></i>Search Restaurant Nearby</button>
  <div id="search-results"></div>
</div>

<div class="footer">
  <div class="footer-btn footer-btn-big">
    <div class="text-centerfooter-button-link">
      <%= link_to root_path, class: "footer-button-link" do %>
        Home
      <% end %>
    </div>
  </div>
</div>
